html,body {
    margin: 0;
  	height: 100%;
	background-color: #f5f5f5;
	min-width: 400px;
}

div#title {
	background-color: #00438b;
	border-bottom: 5px solid black;
}

div#icon {
	width: 100px;
	margin: 0 auto;
}

div#content {
	max-width: 1080px;
	width: 98%;
	margin: 0 auto;
}

h3 {
	height: 1px;
}

div#account {
	width: 100%;
	background-color: #dadada;
	min-width: 400px;
	margin: 10px 0px;
	display:table;
}

div#login {
	margin-left: 10px;
	width: 300px;
	float: left;
}

input[type=email], input[type=password] {
    width: 90%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #00438b;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin: 30px 25% 15px 25%;
}

button:hover {
    opacity: 0.8;
}


div#vl {
	float: right;
	border-left: 1px solid #000000;
	margin-top: 10px;
    height: 150px;
}

div#register {
	width: calc(49% - 10px);
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
}

a#register {
	display: block;
	text-decoration: none;
	background-color: #00438b;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 43px;
    margin: 30px 75px 15px;
    text-align: center;
    line-height: 43px;
}

div#clear {
	clear: both;
}

div#info {
	width: 100%;
	min-width: 400px;
	margin: 10px 0px;
	display:table;
}

div#why {
	margin-left: 10px;
	width: calc(49% - 10px);
	float: left;
}

div#what {
	width: calc(49% - 10px);
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	margin-left: 6px;
}

div#mobile {
	background-color: #dadada;
	float: left;
	margin-left: 50px;
	padding: 10px;
	width: 220px;
}

img#google {
	width: 100px;
}

img#apple {
	width: 100px;
	float: right;
}

@media screen and (max-width: 700px) {
	div#account {
		margin-top: 50px;
	}
	div#vl {
		height: 0px;
	}
	div#hl {
		float: left;
		border-bottom: 1px solid #000000;
		margin-top: 20px;
		height: 0px;
		width: 90%;
		margin-left: 4%;
	}
	div#login {
		margin-left: 10px;
	}
	div#register {
		width: 90%;
		margin-left: 10px;
		float: left;
	}
	div#why {
		width: 90%;
		margin-left: 10px;
	}
	div#what {
		width: 90%;
		margin-left: 10px;
		float: left;
	}
}