html,body {
    margin: 0;
  	height: 100%;
}

div#left {
	position: relative;
	float: left;
	min-height:100%;
}

div#right {
	min-width: 980px;
}

div#logo {
    height: 48px;
    width: 300px;
    background-color: #6565ff;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #333333;
}

div#title {
	position: absolute;
    left: 300px;
    right: 0;
    min-width: inherit;
	height: 48px;
    text-align: left;
    line-height: 50px;
    border-bottom: 2px solid #333333;
}

div#sideMenu {
	position: absolute;
	top: 50px;
    bottom: 0;
    width: 300px;
    background-color: #aaaaaa;
    overflow-x: hidden;
    padding-top: 15px;
}

#sideMenu a {
	text-decoration: none;
	color: #000000;
}

div#main {
	position: absolute;
	left: 300px;
	top: 50px;
    bottom: 0;
    right: 0;
    min-width: inherit;
    overflow-x: hidden;
}

hr.left {
	height:2px;
	border:none;
	background-color:#333333;
}

div.menu {
	margin-left: 10px;
	width: 200px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 2px solid #aaaaaa;
	cursor: pointer;
}

div.menu:hover {
	border-color: #0000002b;
}

div.menuYellow {
	background-color: #ffff00;
}

div.menuGreen {
	background-color: #00b100;
}

div.menuGreen:hover {
	border-color: #aaaaaa;
	cursor: auto;
}

div.menuCyan {
	background-color: #00ffff;
}

div.menuRed {
	background-color: #ff0000;
}

div.menuOrange {
	background-color: #ffa500;
}

div.menuWhite {
	background-color: #ffffff;
}

div.menuHouse {
	margin-left: 30px;
	background-color: pink;
}