html,body {
    margin: 0;
  	height: 100%;
	background-color: #f5f5f5;
}

div#left {
	position: relative;
	float: left;
	min-height:100%;
}

div#right {
	position: absolute;
	left: 300px;
	top: 0;
    bottom: 0;
    right: 0;
    min-width: 980px;
    overflow-x: hidden;
}

div#logo {
    height: 48px;
    width: 300px;
    background-color: #00438b;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #333333;
}

div#title {
    right: 0;
    min-width: inherit;
	height: 48px;
    text-align: left;
    line-height: 50px;
    border-bottom: 2px solid #333333;
}

div#sideMenu {
	position: absolute;
	top: 50px;
    bottom: 0;
    width: 300px;
    background-color: #aaaaaa;
    overflow-x: hidden;
    padding-top: 15px;
}

#sideMenu a {
	text-decoration: none;
	color: #000000;
}

div#main {
}


div#scroll {
	margin: auto;
	width: 980px;
}

hr.left {
	height:2px;
	border:none;
	background-color:#333333;
}

div.menu {
	margin-left: 10px;
	width: 200px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 2px solid #aaaaaa;
	cursor: pointer;
}

div.menu:hover {
	border-color: #0000002b;
}

div.menuYellow {
	background-color: #ffff00;
}

div.menuGreen {
	background-color: #00b100;
}

div.menuGreen:hover {
	border-color: #aaaaaa;
	cursor: auto;
}

div.menuCyan {
	background-color: #00ffff;
}

div.menuRed {
	background-color: #ff0000;
}

div.menuOrange {
	background-color: #ffa500;
}

div.menuWhite {
	background-color: #ffffff;
}

div.menuHouse {
	margin-left: 30px;
	background-color: pink;
}

div#graph {
	padding-top:30px;
}

hr {
	clear:both;
}

div#roomList {
	width: calc(100% - 80px);
	padding-left: 40px;
}

div.room {
	border:1px solid black;
	clear: both;
	text-align: center;
	overflow: auto;
}

div.thermo {
	width: 150px;
	float: left;
	margin-right: 150px;
}

.temp0 {
	fill: #0000FF;
}

.temp1 {
	fill: #00CBFF;
}

.temp2 {
	fill: #00FF65;
}

.temp3 {
	fill: #65FF00;
}

.temp4 {
	fill: #FFCC00;
}

.temp5 {
	fill: #FF0000;
}

div.lumens {
	width: 150px;
	float: left;
	margin-right: 100px;
}

div.tIcon{
	padding-left: 50px;
	float: left;
}

div.tText{
	line-height: 100px;
}

.light0 {
	fill: #000050;
}

.light1 {
	fill: #323340;
}

.light2 {
	fill: #656630;
}

.light3 {
	fill: #989920;
}

.light4 {
	fill: #CBCC10;
}

.light5 {
	fill: #FEFF00;
}

.edit {
	line-height: 25px;
	float: left;
}

div#addRoom {
	padding-left: 40px;
}

div#modBuild {
	padding-left: 40px;
}